.bg-image{
    background: url('../images/Future-Car.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Impact;
  color: firebrick;
}

#invis{
    background: none;
}

#trans-bg{
    background: none;
}

#title{
    background: none;
}